# Puzzle 1

In [187]:
import pandas as pd
from IPython.display import display

df = pd.read_csv("input.txt", header=None, names=["bin"], dtype={"bin": str})
df = pd.concat([df, df.bin.str.split("", expand=True)], axis=1)
df = df.drop(columns=[0, 13])
# df.columns = ["bin"] + [str(x) for x in range(12)]
df

              bin  1  2  3  4  5  6  7  8  9 10 11 12
0    110001101000  1  1  0  0  0  1  1  0  1  0  0  0
1    111011011100  1  1  1  0  1  1  0  1  1  1  0  0
2    100001101100  1  0  0  0  0  1  1  0  1  1  0  0
3    111011011010  1  1  1  0  1  1  0  1  1  0  1  0
4    001001101100  0  0  1  0  0  1  1  0  1  1  0  0
..            ... .. .. .. .. .. .. .. .. .. .. .. ..
995  001001011110  0  0  1  0  0  1  0  1  1  1  1  0
996  100101000101  1  0  0  1  0  1  0  0  0  1  0  1
997  011111110110  0  1  1  1  1  1  1  1  0  1  1  0
998  111101111001  1  1  1  1  0  1  1  1  1  0  0  1
999  100011101100  1  0  0  0  1  1  1  0  1  1  0  0

[1000 rows x 13 columns]

In [188]:
gamma_bin = df.drop("bin", axis=1).mode().squeeze().str.cat()
gamma = int(gamma_bin, 2)
epsilon_bin = (
    df.drop("bin", axis=1)
    .apply(pd.value_counts)
    .apply(lambda x: x.idxmin())
    .squeeze()
    .str.cat()
)
epsilon = int(epsilon_bin, 2)

print(gamma)
print(epsilon)

1565
2530

In [189]:
epsilon * gamma

3959450

# Puzzle 2

In [190]:
df

              bin  1  2  3  4  5  6  7  8  9 10 11 12
0    110001101000  1  1  0  0  0  1  1  0  1  0  0  0
1    111011011100  1  1  1  0  1  1  0  1  1  1  0  0
2    100001101100  1  0  0  0  0  1  1  0  1  1  0  0
3    111011011010  1  1  1  0  1  1  0  1  1  0  1  0
4    001001101100  0  0  1  0  0  1  1  0  1  1  0  0
..            ... .. .. .. .. .. .. .. .. .. .. .. ..
995  001001011110  0  0  1  0  0  1  0  1  1  1  1  0
996  100101000101  1  0  0  1  0  1  0  0  0  1  0  1
997  011111110110  0  1  1  1  1  1  1  1  0  1  1  0
998  111101111001  1  1  1  1  0  1  1  1  1  0  0  1
999  100011101100  1  0  0  0  1  1  1  0  1  1  0  0

[1000 rows x 13 columns]

In [191]:
df_ogr = df.copy()
i = 1
while df_ogr.shape[0]>1:
    vc = df_ogr[i].value_counts()
    if vc[0]==vc[1]:
        digit = "1"
    else:
        digit = vc.index[0][0]
    df_ogr = df_ogr[df_ogr[i] == digit]
    # print(i)
    # display(vc)
    # display(digit)
    # display(df_ogr)
    i += 1
ogr_bin = df_ogr.drop("bin", axis=1).mode().squeeze().str.cat()
ogr = int(ogr_bin, 2)
ogr

2039

In [192]:
df_csr = df.copy()
i = 1
while df_csr.shape[0]>1:
    vc = df_csr[i].value_counts()
    if vc[0]==vc[1]:
        digit = "0"
    else:
        digit = vc.index[-1][0]
    df_csr = df_csr[df_csr[i] == digit]
    # print(i)
    # display(vc)
    # display(digit)
    # display(df_csr)
    i += 1
csr_bin = df_csr.drop("bin", axis=1).mode().squeeze().str.cat()
csr = int(csr_bin, 2)
csr

3649

In [193]:
ogr * csr

7440311