# Puzzle 1

In [1]:
import pandas as pd

df = pd.read_csv("input.txt", header=None, sep=" ")
df.columns = ["Direction", "Amount"]

df["delta_x"] = (
    df["Direction"].map({"forward": 1, "down": 0, "up": 0}) * df["Amount"]
)
df["delta_y"] = (
    df["Direction"].map({"forward": 0, "down": 1, "up": -1}) * df["Amount"]
)
df["x"] = df.delta_x.cumsum()
df["y"] = df.delta_y.cumsum()
df.loc[-1] = {"x": 0, "y": 0}
df = df.sort_index()

df

     Direction  Amount  delta_x  delta_y     x    y
-1         NaN     NaN      NaN      NaN     0    0
 0     forward     6.0      6.0      0.0     6    0
 1     forward     6.0      6.0      0.0    12    0
 2        down     6.0      0.0      6.0    12    6
 3        down     5.0      0.0      5.0    12   11
...        ...     ...      ...      ...   ...  ...
 995        up     4.0      0.0     -4.0  1977  917
 996        up     4.0      0.0     -4.0  1977  913
 997   forward     8.0      8.0      0.0  1985  913
 998   forward     1.0      1.0      0.0  1986  913
 999   forward     2.0      2.0      0.0  1988  913

[1001 rows x 6 columns]

In [38]:
df.x[999] * df.y[999]

1815044.0

In [36]:
df.x.iloc[-1] * df.y.iloc[-1]

1815044.0

# Puzzle 2

In [2]:
df = pd.read_csv("input.txt", header=None, sep=" ")
df.columns = ["Direction", "Amount"]
for col in ["delta_aim", "Aim", "delta_x", "delta_y", "x", "y"]:
    df[col] = np.NaN

df["delta_aim"] = (
    df["Direction"].map({"forward": 0, "down": 1, "up": -1}) * df["Amount"]
)
df["Aim"] = df["delta_aim"].cumsum()
df["delta_x"] = (
    df["Direction"].map({"forward": 1, "down": 0, "up": 0}) * df["Amount"]
)
df["delta_y"] = (
    df["Direction"].map({"forward": 1, "down": 0, "up": 0})
    * df["Amount"]
    * df["Aim"]
)
df["x"] = df.delta_x.cumsum()
df["y"] = df.delta_y.cumsum()
df.loc[-1] = {"x": 0, "y": 0}
df = df.sort_index()
df

     Direction  Amount  delta_aim    Aim  delta_x  delta_y     x       y
-1         NaN     NaN        NaN    NaN      NaN      NaN     0       0
 0     forward     6.0        0.0    0.0      6.0      0.0     6       0
 1     forward     6.0        0.0    0.0      6.0      0.0    12       0
 2        down     6.0        6.0    6.0      0.0      0.0    12       0
 3        down     5.0        5.0   11.0      0.0      0.0    12       0
...        ...     ...        ...    ...      ...      ...   ...     ...
 995        up     4.0       -4.0  917.0      0.0      0.0  1977  864848
 996        up     4.0       -4.0  913.0      0.0      0.0  1977  864848
 997   forward     8.0        0.0  913.0      8.0   7304.0  1985  872152
 998   forward     1.0        0.0  913.0      1.0    913.0  1986  873065
 999   forward     2.0        0.0  913.0      2.0   1826.0  1988  874891

[1001 rows x 8 columns]

In [43]:
df.x.iloc[-1] * df.y.iloc[-1]

1739283308

In [ ]:
0